{% extends 'base.html' %}



{% block head%}
<h1>Home page</h1>

{% endblock%}
{% block body%}
<p>Here you can see the packs you have already made or make a new one</p>
<form action="/newpack">
  <input type="submit" value="Add a pack" />
</form>
<table>
    <tr>
        <th>Pack Name</th>
    </tr>
    {% for pack in packs %}
    <tr>
      <th><a href="/{{pack.id}}">{{pack.name}}</a></th>
      <th>
        <a href="/">EDIT</a>
        <a href="/">DELETE</a>
      </th>  
    </tr>
    {% endfor %}
</table>

{% endblock%}